{% extends 'base.html' %}
{% load static %}


{% block title %}My account{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">My account</li>
{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: space-between; flex-direction: row; flex-wrap: nowrap" class="row">
        <div style="max-width: 300px">
            {% if request.user.avatar %}
                <div class="parent" style="display: inline-block; position: relative">
                    <img height="{{ big_size }}" src="{{ request.user.avatar.url }}" alt="user avatar">
                    <button id="delete_avatar" style="
                                position: absolute;
                                top: 0;
                                right: 0;
                                color: black;
                                background-color: #dee2e6;
                                border-radius: 5px">X
                    </button>
                </div>
            {% else %}
                <img height="{{ big_size }}" src="{% static 'images/avatar.png' %}" alt="No avatar">
            {% endif %}
            <!-- FORM TO UPLOAD THE IMAGES -->
            <form method="post" enctype="multipart/form-data" id="formUpload">
                {% csrf_token %}
                {{ avatar_form.avatar }}
            </form>
        </div>
        <div style="width: 300px" class="col-lg-6 col-md-8 col-sm-10">
            <!-- MODAL TO CROP THE IMAGE -->
            <div class="modal fade" id="modalCrop">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                            <h4 class="modal-title">Crop the photo</h4>
                        </div>
                        <div class="modal-body">
                            <img src="" id="image" style="max-width: 100%;">
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group pull-left" role="group">
                                <button type="button" class="btn btn-default js-zoom-in">
                                    <span class="glyphicon glyphicon-zoom-in"></span>
                                </button>
                                <button type="button" class="btn btn-default js-zoom-out">
                                    <span class="glyphicon glyphicon-zoom-out"></span>
                                </button>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                            <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
                        </div>
                    </div>
                </div>
            </div>

            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <p align="center">
                    <button style="margin-top: 20px" id="submit" type="submit" class="btn btn-success">Save changes
                    </button>
                </p>
            </form>
        </div>
        <div style="max-width: 300px; background-color: #dee2e6; border-radius: 5px; padding-top: 10px">
            <p align="center">You are in <b>{{ request.user.groups.first }}</b> group</p>
            <h3>Additional Settings:</h3>
            <form method="post">
                {% csrf_token %}
                {{ mailing_form }}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% include 'includes/change_mailing_status.html' %}
    {% include 'includes/upload_avatar.html' %}
    {% include 'includes/delete_avatar.html' %}
{% endblock %}