{% extends 'base.html' %}

{% block title %}My account{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">My account</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="post" novalidate>
                <div style="display: flex; align-items: center">
                    <div>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                    </div>
                    <div style="margin-left: 30px">
                        Send me {{ remind_form }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Save changes</button>
            </form>
        </div>
    </div>
{% endblock %}