{% load static %}
<script>
    {% if request.user.avatar %}
        $('#delete_avatar').on('click', function () {
            $.ajax({
                url: '{% url 'delete_avatar' request.user.pk %}',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                type: 'DELETE',
                credential: 'include',
                complete: function (data) {
                    $(document).ajaxStop(function () {
                        document.location.reload()
                    })
                }
            })
        })
    {% endif %}
</script>
