{% load static %}
<script>
    $(function () {
        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
        $("#id_avatar").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#image").attr("src", e.target.result);
                    $("#modalCrop").modal("show");
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        /* SCRIPTS TO HANDLE THE CROPPER BOX */
        var $image = $("#image");
        var cropBoxData;
        var canvasData;
        $("#modalCrop").on("shown.bs.modal", function () {
            $image.cropper({
                viewMode: 1,
                aspectRatio: 1 / 1,
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
                ready: function () {
                    $image.cropper("setCanvasData", canvasData);
                    $image.cropper("setCropBoxData", cropBoxData);
                }
            });
        }).on("hidden.bs.modal", function () {
            cropBoxData = $image.cropper("getCropBoxData");
            canvasData = $image.cropper("getCanvasData");
            $image.cropper("destroy");
        });

        $(".js-zoom-in").click(function () {
            $image.cropper("zoom", 0.1);
        });

        $(".js-zoom-out").click(function () {
            $image.cropper("zoom", -0.1);
        });

        /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
        $(".js-crop-and-upload").click(function () {
            cropData = $image.cropper("getData");
            //Get file from form.
            form_data = new FormData();
            file = $('#id_avatar').get(0).files[0]
            form_data.append('avatar', file);
            form_data.append('x', cropData["x"]);
            form_data.append('y', cropData["y"]);
            form_data.append('height', cropData["height"]);
            form_data.append('width', cropData["width"]);
            $('#modalCrop').modal('hide');
            //Send file with ajax.
            $.ajax({
                url: '{% url 'account_avatar' request.user.pk %}',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                type: 'POST',
                credential: 'include',
                dataType: 'json',
                cache: false,
                processData: false,
                contentType: false,
                data: form_data,
                complete: function (data) {
                    if (data.success == true) { // if true (1)
                        setTimeout(function () {// wait for 5 secs(2)
                            location.reload(); // then reload the page.(3)
                        }, 5000);
                    }
                }
            });
        });
    });
</script>
